/build/
target/
.idea/
*.iml
.classpath
.project
.settings/
.DS_Store
*~
packages/
**/dependency-reduced-pom.xml
/msv-agent/
/dist/
/docker/snapshot/*.gz
.mvn/wrapper/*.jar
OALLexer.tokens
.factorypath
.vscode
.checkstyle
.externalToolBuilders
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
