# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# The agent namespace
# agent.namespace=${AGENT_NAMESPACE:default-namespace}

# The service name in UI
agent.service_name=${AGENT_NAME:Your_ApplicationName}

# The number of sampled traces per 3 seconds
# Negative number means sample traces as many as possible, most likely 100%
# agent.sample_n_per_3_secs=${AGENT_SAMPLE:-1}
#APM采样率
agent.sample_tate=${AGENT_SAMPLE_RATE:100}
# Authentication active is based on backend setting, see application.yml for more details.
# agent.authentication = ${AGENT_AUTHENTICATION:xxxx}

# The max amount of spans in a single segment.
# Through this config item, skywalking keep your application memory cost estimated.
# agent.span_limit_per_segment=${AGENT_SPAN_LIMIT:300}

# Ignore the segments if their operation names end with these suffix.
# agent.ignore_suffix=${SW_AGENT_IGNORE_SUFFIX:.jpg,.jpeg,.js,.css,.png,.bmp,.gif,.ico,.mp3,.mp4,.html,.svg}

# If true, skywalking agent will save all instrumented classes files in `/debugging` folder.
# Skywalking team may ask for these files in order to resolve compatible problem.
agent.is_open_debugging_class = ${AGENT_OPEN_DEBUG:false}

# The operationName max length
# agent.operation_name_threshold=${AGENT_OPERATION_NAME_THRESHOLD:500}

# Backend service addresses.
collector.backend_service=${AGENT_COLLECTOR_BACKEND_SERVICES:127.0.0.1:11800}

# 外部classpath扩展依赖/usr/local/webserver/rig-monitor-agent/ext-lib
agent.dependency_ext_class_path = ${MSV_AGENT_DEPENDENCY_EXT_CLASS_PATH:msv-agent/extlib}

# Logging file_name
logging.file_name=${LOGGING_FILE_NAME:caesar-agent.log}

# Logging level
logging.level=${LOGGING_LEVEL:INFO}

# Logging dir
logging.dir=${LOGGING_DIR:/data0/log-data/caesar-agent/}

# Logging max_file_size, default: 300 * 1024 * 1024 = 314572800
logging.max_file_size=${LOGGING_MAX_FILE_SIZE:314572800}

# 日志历史文件个数
logging.max_history_files=${LOGGING_MAX_HISTORY_FILES:10}

# mysql plugin configuration
# plugin.mysql.trace_sql_parameters=${MYSQL_TRACE_SQL_PARAMETERS:false}
